@page "/"

<h1>Hello, MultiTenant!</h1>


@if (IsReady)
{
    <h2>Tenant Info</h2>
        <ul>
            <li>Identifier: @tenant?.Identifier</li>
            <li>Id: @tenant?.Id</li>
            <li>Name: @tenant?.Name</li>
            <li>Connection String: @tenant?.ConnectionString</li>
        </ul>
}

